# Setting environmental key

In [5]:
import os
#os.environ["OPENAI_API_KEY"]=""
os.environ["OPENAI_API_KEY"]="Your API Key"

In [7]:
from langchain.llms import OpenAI

# Initialize the OpenAI model

In [8]:
model = OpenAI()

In [9]:
model.invoke("who is president of USA")

'\n\nDonald Trump is the current President of the United States. He was elected in 2016 and is serving his first term in office.'

# Importing PromptTemplate

In [10]:
from langchain.prompts import PromptTemplate

In [11]:
json_prompt=PromptTemplate.from_template(template="Return a JSON object with any type of  key that answers the following question:{question}")

In [12]:
j_pipe = json_prompt|model

In [141]:
j_pipe.invoke(" where is the naiagara water falls")

'\n\n{"Where": "The Niagara Falls is located on the border between Ontario, Canada and New York, USA."}'

# Importing Json Parser

In [14]:
from langchain.output_parsers.json import SimpleJsonOutputParser
json_parser = SimpleJsonOutputParser()

In [15]:
j_pipe1 = json_prompt|model|json_parser

In [17]:
j_pipe1.invoke("can you provide me all countries in the world ")

{'countries': ['Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cabo Verde',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombia',
  'Comoros',
  'Democratic Republic of the Congo',
  'Republic of the Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba']}

In [18]:
j_pipe1.invoke("wwhat is the history of telangana formation")

{'Telangana Formation': 'Telangana is the 29th state of India, formed on June 2, 2014. It was previously a part of the state of Andhra Pradesh, which was formed in 1956. The movement for a separate state of Telangana began in the 1960s, with demands for political, economic, and cultural rights for the Telangana region, which felt neglected by the Andhra-dominated state government. The demand for a separate state gained momentum in the early 2000s, with large-scale protests and strikes. In 2009, the Indian government announced the formation of a committee to look into the issue, and in 2013, the Parliament passed the Andhra Pradesh Reorganization Act, which officially designated Telangana as a separate state. The new state of Telangana was officially inaugurated on June 2, 2014, with K. Chandrashekar Rao as its first Chief Minister.'}

In [22]:
j_pipe1.invoke("can you provide me ramayanam full story in two paragraphs")

{'Ramayanam': "Ramayanam is an ancient Indian epic that tells the story of Lord Rama, one of the most revered deities in Hinduism. The epic is divided into seven chapters, each depicting a different phase of Rama's life. The story begins with the birth of Rama and his upbringing as a prince in the kingdom of Ayodhya. Rama is exiled from his kingdom due to a promise made by his father to his stepmother. Along with his devoted wife Sita and loyal brother Lakshmana, Rama embarks on a journey filled with challenges and obstacles. The most well-known part of the story is the battle between Rama and the demon king Ravana, who kidnaps Sita and takes her to his kingdom in Lanka. With the help of an army of monkeys and his greatest ally, the monkey god Hanuman, Rama ultimately defeats Ravana and rescues Sita, returning to Ayodhya to claim his rightful place as king.",
 'Significance': "The story of Ramayanam is not just a tale of adventure and romance, but it also holds great spiritual significance. It teaches important lessons about morality, righteousness, and the importance of fulfilling one's duties and responsibilities"}

In [24]:
j_pipe1.invoke("what is the most popular adventure place in the world")

{'The most popular adventure place in the world': 'Mount Everest'}

In [25]:
j_pipe1.invoke("who is the best story writer in inda")

{'best_story_writer': 'Ruskin Bond'}

In [26]:
j_pipe1.invoke("which is the highest everest mountain in india")

{'Highest Mountain': 'Kangchenjunga'}

In [27]:
j_pipe1.invoke("which makes feel happy ")

{'Answer': 'Spending time with loved ones'}

In [29]:
j_pipe1.invoke("what is the mostly poeple visited tourist place in india")

{'What is the mostly people visited tourist place in India': 'Taj Mahal'}

In [30]:
json_prompt1=PromptTemplate.from_template(template="Return a JSON object with tourist places in the world and its locations key that answers the following question:{question}")

In [31]:
j_pipe2 = json_prompt1|model|json_parser

In [32]:
j_pipe2.invoke("can u provide me top most ten tourist places in the world")

{'1': {'place': 'Paris', 'location': 'France'},
 '2': {'place': 'Rome', 'location': 'Italy'},
 '3': {'place': 'Bali', 'location': 'Indonesia'},
 '4': {'place': 'London', 'location': 'United Kingdom'},
 '5': {'place': 'New York City', 'location': 'United States'},
 '6': {'place': 'Tokyo', 'location': 'Japan'},
 '7': {'place': 'Barcelona', 'location': 'Spain'},
 '8': {'place': 'Cape Town', 'location': 'South Africa'},
 '9': {'place': 'Sydney', 'location': 'Australia'},
 '10': {'place': 'Rio de Janeiro', 'location': 'Brazil'}}

In [34]:
j_pipe2.invoke("which place is the belongs to divine in india")

{'India': [{'Place': 'Varanasi', 'Location': 'Uttar Pradesh'},
  {'Place': 'Tirupati', 'Location': 'Andhra Pradesh'},
  {'Place': 'Amritsar', 'Location': 'Punjab'},
  {'Place': 'Haridwar', 'Location': 'Uttarakhand'},
  {'Place': 'Puri', 'Location': 'Odisha'}]}

In [37]:
j_pipe2.invoke("how did we go tirupathi and which places are came when going to tirupathi ")

{'Tirupathi': ['Tirumala',
  'Sri Venkateswara Swamy Temple',
  'Govindaraja Swamy Temple',
  'Kapila Theertham',
  'Kalyani Dam',
  'Sri Padmavathi Ammavari Temple',
  'Srikalahasti Temple',
  'Silathoranam',
  'TTD Gardens',
  'Sri Vari Museum',
  'Deer Park',
  'Akasaganga Teertham'],
 'Location': 'Andhra Pradesh, India',
 'Mode of Transportation': 'By road or train from major cities in India such as Chennai, Bengaluru, Hyderabad or by air to Tirupati Airport'}

In [41]:
j_pipe2.invoke("what is the location of kasi")

{'Kasi': 'Varanasi, Uttar Pradesh, India'}

In [43]:
j_pipe2.invoke("can u tell me how to go kasi by which?")

{'Kasi': {'country': 'India',
  'state': 'Uttar Pradesh',
  'city': 'Varanasi',
  'transportation': 'The nearest airport is Lal Bahadur Shastri International Airport in Varanasi. From there, you can take a taxi or bus to reach Kasi. You can also take a train to Varanasi Junction railway station and then take a taxi or bus to Kasi.'}}

In [45]:
j_pipe2.invoke("which places are belongs to nature ")

{'places': [{'name': 'The Grand Canyon',
   'location': 'Arizona, United States',
   'type': 'Nature'},
  {'name': 'Galapagos Islands', 'location': 'Ecuador', 'type': 'Nature'},
  {'name': 'Serengeti National Park',
   'location': 'Tanzania',
   'type': 'Nature'},
  {'name': 'Great Barrier Reef', 'location': 'Australia', 'type': 'Nature'},
  {'name': 'Banff National Park',
   'location': 'Alberta, Canada',
   'type': 'Nature'},
  {'name': 'Yosemite National Park',
   'location': 'California, United States',
   'type': 'Nature'},
  {'name': 'Machu Picchu', 'location': 'Peru', 'type': 'Nature'},
  {'name': 'Zhangjiajie National Forest Park',
   'location': 'Hunan, China',
   'type': 'Nature'},
  {}]}

In [48]:
json_prompt2=PromptTemplate.from_template(template="Return a JSON object with books and authors skey that answers the following question:{question}")

In [49]:
j_pipe3 = json_prompt2|model|json_parser

In [50]:
j_pipe3.invoke("what is the most popular life lessons book ")

{'book': 'The Alchemist', 'author': 'Paulo Coelho'}

In [53]:
j_pipe3.invoke(" which book is the mostly like to read ?")

{'book': 'Becoming', 'author': 'Michelle Obama'}

In [55]:
j_pipe3.invoke("can u provide me concepts of books")

{'books': {'concept1': 'Plot',
  'concept2': 'Character development',
  'concept3': 'Theme',
  'concept4': 'Setting',
  'concept5': 'Point of view'},
 'authors': {'concept1': 'J.K. Rowling',
  'concept2': 'Stephen King',
  'concept3': 'Jane Austen',
  'concept4': 'George Orwell',
  'concept5': 'Harper Lee'}}

In [56]:
j_pipe3.invoke("why do we need somethimg diifrent that connect to eople in books")

{'question': 'Why do we need something different that connects people in books?',
 'answer': 'Books offer a unique way to connect people by allowing them to share experiences, perspectives, and emotions. They provide a platform for individuals to relate to one another, regardless of their differences. By reading books, we can gain a deeper understanding of the world, expand our knowledge, and learn empathy. Books also allow us to connect with characters and their journeys, which can inspire and motivate us. Therefore, having something different that connects people in books is essential for fostering meaningful connections and promoting understanding and unity among individuals.'}

In [57]:
j_pipe3.invoke("who is the best book writer")

{'best book writer': 'It is impossible to determine the best book writer as it is subjective and based on personal preference. Some popular and critically acclaimed authors include J.K. Rowling, Stephen King, Harper Lee, George Orwell, and William Shakespeare.'}

In [72]:
ab=j_pipe3.invoke("why we need books ")

In [73]:
type(ab)

dict

In [74]:
ab

{'books': 'Books are important because they provide a way for people to share their knowledge and experiences with others. They allow us to learn about different cultures, histories, and perspectives, which can broaden our understanding of the world. Books also provide a means for entertainment and escapism, allowing us to explore new worlds and ideas without leaving our own. They can inspire creativity and imagination, and help us develop critical thinking skills. Overall, books are essential for personal growth, education, and the preservation and dissemination of knowledge.',
 'authors': 'Authors are crucial to the creation of books, as they are the ones who write and share their ideas and stories with the world. They have the power to influence and shape our thoughts, beliefs, and values through their words. Authors also play a significant role in preserving history and culture, as they document and share their own experiences and perspectives. They can also bring attention to important social and political issues through their writing. Without authors, books would not exist, and we would not have access to the wealth of knowledge and entertainment that books provide.'}

In [76]:
if len(ab["books"].split()) == 3:
    print(ab["authors"].split()[2])

In [77]:
from langchain.output_parsers import CommaSeparatedListOutputParser

In [78]:
output_parser = CommaSeparatedListOutputParser()

In [79]:
format_instructions = output_parser.get_format_instructions()

In [ ]:
prompt = PromptTemplate(
template="List ten {subject}.\n{format_instructions}",
input_variables=["subject"],
partial_variables={"format_instructions": format_instructions}
)

In [89]:
query = "top most hit movies in 2023 in telugu"

In [98]:
output = model(prompt.format(subject=query))
output

'\n\n1. RRR - Jr. NTR, Ram Charan\n2. Pushpa - Allu Arjun, Rashmika Mandanna\n3. Sarkaru Vaari Paata - Mahesh Babu, Keerthy Suresh\n4. F3 - Venkatesh, Varun Tej\n5. Acharya - Chiranjeevi, Kajal Aggarwal'

In [99]:
parsed_result = output_parser.parse(output)
parsed_result

['1. RRR - Jr. NTR',
 'Ram Charan',
 '2. Pushpa - Allu Arjun',
 'Rashmika Mandanna',
 '3. Sarkaru Vaari Paata - Mahesh Babu',
 'Keerthy Suresh',
 '4. F3 - Venkatesh',
 'Varun Tej',
 '5. Acharya - Chiranjeevi',
 'Kajal Aggarwal']

In [113]:
query = "top most actors in telugu"

In [111]:
output = model(prompt.format(subject=query))
output

'\n\n1. Mahesh Babu\n2. Prabhas\n3. Allu Arjun\n4. Jr. NTR\n5. Ram Charan'

In [112]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Mahesh Babu',
 '2. Prabhas',
 '3. Allu Arjun',
 '4. Jr. NTR',
 '5. Ram Charan']

In [115]:
query = "tell me about the most popular divinee places in telangana"

In [ ]:
output = model(prompt.format(subject=query))
output

'\n\n1) Charminar, Hyderabad\n2) Bhadrachalam Temple, Bhadrachalam\n3) Yadagirigutta Temple, Yadagirigutta\n4) Kaleshwaram Temple, Kaleshwaram\n5) Medak Cathedral, Medak'

In [117]:
parsed_result = output_parser.parse(output)
parsed_result

['1) Charminar',
 'Hyderabad',
 '2) Bhadrachalam Temple',
 'Bhadrachalam',
 '3) Yadagirigutta Temple',
 'Yadagirigutta',
 '4) Kaleshwaram Temple',
 'Kaleshwaram',
 '5) Medak Cathedral',
 'Medak']

In [123]:
query = "provide 2023 IPL match scores in detail"

In [124]:
output = model(prompt.format(subject=query))
output

"\n\n1. Mumbai Indians vs Chennai Super Kings: MI (208/5) defeated CSK (202/7) by 6 runs. MI's opener Quinton de Kock scored a blistering 94 runs off 50 balls, helping his team reach a formidable total. CSK's Faf du Plessis put up a valiant effort with 87 runs, but it wasn't enough to secure a win for his team.\n\n2. Delhi Capitals vs Royal Challengers Bangalore: RCB (171/5) defeated DC (170/4) by 5 wickets. RCB's all-rounder Glenn Maxwell played a crucial role in the victory, scoring 56 runs and taking 2 wickets. DC's skipper Rishabh Pant's 58 off 48 balls went in vain as RCB chased down the target with 5 balls to spare.\n\n3. Kolkata Knight Riders vs Sunrisers Hyderabad: KKR (187/6) defeated SRH (177/5) by 10 runs. KKR's Nitish Rana and Eoin Morgan put up a solid partnership of 121 runs to help their team reach a competitive total. SRH's Jason Holder's 47 off 27 balls and Manish Pand"

In [125]:
parsed_result = output_parser.parse(output)
parsed_result

["1. Mumbai Indians vs Chennai Super Kings: MI (208/5) defeated CSK (202/7) by 6 runs. MI's opener Quinton de Kock scored a blistering 94 runs off 50 balls",
 "helping his team reach a formidable total. CSK's Faf du Plessis put up a valiant effort with 87 runs",
 "but it wasn't enough to secure a win for his team.",
 "2. Delhi Capitals vs Royal Challengers Bangalore: RCB (171/5) defeated DC (170/4) by 5 wickets. RCB's all-rounder Glenn Maxwell played a crucial role in the victory",
 "scoring 56 runs and taking 2 wickets. DC's skipper Rishabh Pant's 58 off 48 balls went in vain as RCB chased down the target with 5 balls to spare.",
 "3. Kolkata Knight Riders vs Sunrisers Hyderabad: KKR (187/6) defeated SRH (177/5) by 10 runs. KKR's Nitish Rana and Eoin Morgan put up a solid partnership of 121 runs to help their team reach a competitive total. SRH's Jason Holder's 47 off 27 balls and Manish Pand"]

In [126]:
 query = "top most populated cities in the world"

In [127]:
output = model(prompt.format(subject=query))
output

'\n\n1. Tokyo, Japan\n2. Delhi, India\n3. Shanghai, China\n4. Beijing, China\n5. Mumbai, India'

In [128]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Tokyo',
 'Japan',
 '2. Delhi',
 'India',
 '3. Shanghai',
 'China',
 '4. Beijing',
 'China',
 '5. Mumbai',
 'India']

In [129]:
query = " top most visited tourist places in India"

In [130]:
output = model(prompt.format(subject=query))
output

'\n\n1. Taj Mahal, Agra\n2. Golden Temple, Amritsar\n3. Goa beaches, Goa\n4. Red Fort, Delhi\n5. Hawa Mahal, Jaipur'

In [131]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Taj Mahal',
 'Agra',
 '2. Golden Temple',
 'Amritsar',
 '3. Goa beaches',
 'Goa',
 '4. Red Fort',
 'Delhi',
 '5. Hawa Mahal',
 'Jaipur']

In [132]:
query = "top most snowfall places in india"

In [133]:
output = model(prompt.format(subject=query))
output

'\n\n1. Gulmarg, Jammu and Kashmir\n2. Auli, Uttarakhand\n3. Manali, Himachal Pradesh\n4. Sonamarg, Jammu and Kashmir\n5. Shimla, Himachal Pradesh'

In [134]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Gulmarg',
 'Jammu and Kashmir',
 '2. Auli',
 'Uttarakhand',
 '3. Manali',
 'Himachal Pradesh',
 '4. Sonamarg',
 'Jammu and Kashmir',
 '5. Shimla',
 'Himachal Pradesh']

In [135]:
query = "top most difficult entrance exams in india"

In [ ]:
output = model(prompt.format(subject=query))
output

'\n\n1. Joint Entrance Examination (JEE) Advanced\n2. All India Institute of Medical Sciences (AIIMS) MBBS Entrance Exam\n3. Common Admission Test (CAT) for Indian Institutes of Management (IIMs)\n4. National Eligibility cum Entrance Test (NEET) for undergraduate medical courses\n5. Graduate Aptitude Test in Engineering (GATE) for admission to postgraduate engineering courses'

In [137]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Joint Entrance Examination (JEE) Advanced',
 '2. All India Institute of Medical Sciences (AIIMS) MBBS Entrance Exam',
 '3. Common Admission Test (CAT) for Indian Institutes of Management (IIMs)',
 '4. National Eligibility cum Entrance Test (NEET) for undergraduate medical courses',
 '5. Graduate Aptitude Test in Engineering (GATE) for admission to postgraduate engineering courses']

In [138]:
query = "top most educated cities in india"

In [139]:
output = model(prompt.format(subject=query))
output

'\n\n1. Bengaluru, Karnataka\n2. Chennai, Tamil Nadu\n3. Pune, Maharashtra\n4. Hyderabad, Telangana\n5. Delhi, Delhi'

In [140]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Bengaluru',
 'Karnataka',
 '2. Chennai',
 'Tamil Nadu',
 '3. Pune',
 'Maharashtra',
 '4. Hyderabad',
 'Telangana',
 '5. Delhi',
 'Delhi']